.title-productos{
  margin: 2em;
}
.container{
  max-width: 900px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.box-container{
  margin: 4em .5em;
}
.box-container p{
  margin: 0;
}
.item-1{
  grid-column-end: span 1;
}
.item-2{
  grid-column-end: span 2;
}
.item-3{
  grid-column-end: span 2;

}
.item-4{
  grid-column-end: span 1;

}


/* jerarquia: container > row > column */
